[user]
	name = Tânia Silva
	email = tdosilva@gmail.com
[core]
	excludesfile = ~/.gitignore_global
[credential]
	helper = osxkeychain
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
