"*":
  "activate-power-mode":
    autoToggle: false
    particles: {}
    playAudio:
      audioclip: "../audioclips/typewriter.wav"
      enabled: true
    plugins:
      playAudio: true
      screenShake: true
    screenShake: {}
  "atom-beautify":
    general:
      _analyticsUserId: "5e8d8a8b-c0ee-4a27-b89b-509cf2abc65b"
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
      formatOnType: false
    "atom-ide-diagnostics-ui":
      autoVisibility: true
      showDirectoryColumn: true
      statusBarPosition: "right"
    use:
      "atom-ide-diagnostics-ui": "never"
  "atom-latex":
    clean_after_build: true
    focus_viewer: true
    hide_log_if_success: true
    preview_after_build: "View in PDF viewer tab"
  "atom-material-ui":
    colors:
      abaseColor: "#7e57c2"
      accentColor: "#acdd55"
      genAccent: true
      predefinedColor: "Purple"
    tabs:
      compactTabs: true
      noTabMinWidth: true
      stretchedTabs: true
    ui:
      panelContrast: true
      useAnimations: false
  "atom-package-deps":
    ignored: [
      "flex-tool-bar"
    ]
  "autocomplete-clang": {}
  "bracket-matcher":
    highlightMatchingLineNumber: true
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "background-tips"
      "welcome"
      "github"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "dracula-syntax"
    ]
  editor:
    autoIndent: false
    fontFamily: "anonymice nerd font mono"
    fontSize: 16
    preferredLineLength: 150
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "aada2d91-fd47-496d-bb7b-e7d8458f6f2a"
  "ide-java":
    errors:
      incompleteClasspathSeverity: "ignore"
    javaHome: "/usr/bin/java"
  linter: {}
  "linter-gcc": {}
  "linter-ui-default": {}
  "one-dark-ui": {}
  "seti-ui":
    compactView: true
    disableAnimations: true
    displayIgnored: false
    hideDocumentTitle: true
    hideTitleBar: true
  "tool-bar":
    position: "Left"
    useTouchBar: false
  "tree-view": {}
  welcome:
    showOnStartup: false
