"*":
  "atom-ide-ui":
    "atom-ide-code-format": {}
    "atom-ide-diagnostics-ui":
      autoVisibility: true
      showDirectoryColumn: true
    use:
      "atom-ide-diagnostics-ui": false
  "atom-material-ui":
    colors: {}
    tabs:
      compactTabs: true
      noTabMinWidth: true
    ui:
      useAnimations: false
  "bracket-matcher":
    highlightMatchingLineNumber: true
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "autocomplete-java"
    ]
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "dracula-syntax"
    ]
  editor:
    fontFamily: "anonymice nerd font mono"
    fontSize: 16
    preferredLineLength: 150
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    tabType: "soft"
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "aada2d91-fd47-496d-bb7b-e7d8458f6f2a"
  "ide-java":
    errors:
      incompleteClasspathSeverity: "ignore"
  linter: {}
  "linter-gcc": {}
  "linter-ui-default": {}
  "one-dark-ui": {}
  "seti-ui":
    disableAnimations: true
    displayIgnored: false
    hideDocumentTitle: true
    hideTitleBar: true
  "tool-bar":
    position: "Left"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
